<div class="step-container-box">
    <h2>Card Details</h2>

    <form [formGroup]="form" nz-form nzLayout="vertical" class="payment" (ngSubmit)="submitForm()">
        <nmo-card #card></nmo-card>

        <nz-form-item>
            <nz-form-label>Name on card</nz-form-label>
            <nz-form-control nzErrorTip="This field is required!">
                <input type="text" nz-input placeholder="John Doe" formControlName="name" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Card number</nz-form-label>
            <nz-form-control nzErrorTip="Invalid card number!">
                <input nmoNumberInput nmoCardInput type="text" nz-input placeholder="1111 2222 3333 4444" formControlName="number" />
            </nz-form-control>
        </nz-form-item>

        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label>Expiry Date</nz-form-label>
                    <nz-form-control nzErrorTip="Invalid expiry date!">
                        <input type="text" nz-input placeholder="10/2022" formControlName="expiry" mask="00/0000" [dropSpecialCharacters]="false" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="8">
                <nz-form-item>
                    <nz-form-label>CVV</nz-form-label>
                    <nz-form-control nzErrorTip="This field is required!">
                        <input type="text" nz-input placeholder="123" formControlName="cvv" mask="000" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" nz-button (click)="back()">Back</button>&nbsp;
            <button type="submit" nz-button nzType="primary">Next</button>
        </div>
    </form>
</div>